---
import Layout from "@layouts/Layout.astro";
---

<Layout
  title="Eksperymenty"
  description="Laboratoria i testy nowych technologii"
>
  <div class="container mx-auto px-4 py-16">
    <h1 class="text-4xl font-bold mb-6">Eksperymenty</h1>
    <p class="text-lg mb-8">
      Tu powstać będą laboratoria i testy nowych technologii.
    </p>
  </div>
</Layout>
